### Dataset creation

In [170]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

- load data and labels (normal and different attack types)

In [171]:
df_data = pd.read_csv("../datasets/thyroid/thyroid-labelled.csv")
df_data = shuffle(df_data)
df_labels = pd.DataFrame(df_data.iloc[:,-1])   
df_data = pd.DataFrame(df_data.iloc[:, :-1]).astype(float)

- read column names and types

In [172]:
# col_names=[]
# col_datatypes=[]

# with open("datasets/kddcup/kddcup.names") as file:
#     next(file)    ### skip first line
#     for line in file:
#         name, datatype = line.split(": ")
#         col_names.append(name)
#         col_datatypes.append(datatype.replace(".\n",""))
        
# df_data.columns = col_names
df_labels.columns = ["labels"]

In [173]:
df_data.head()

,age,a,b,c,d,e,f,g,h,i,...,k,l,m,n,o,TSH,T3,TT4,T4U,FTI
4904,0.47,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00110,0.0230,0.113,0.110,0.103
1216,0.32,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00170,0.0170,0.101,0.080,0.126
3364,0.69,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00041,0.0201,0.117,0.114,0.103
3286,0.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00929,0.0240,0.126,0.096,0.131
1724,0.61,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00006,0.0530,0.210,0.087,0.241

- check integrity of the data

In [174]:
print(df_data.isnull().values.any())

print(df_data.isna().values.any())

False
False

### Enumerate labels

- ### normal samples are named as "anomaly" since they are minority (stated in paper)

In [175]:
# Considering n labelled data as normal and others as anomaly in thyroid dataset. assigning labels accordingly.
# Added by Jyotirmay.
# 1 = normal, 0 = anomaly
df_data["label"] = np.where(df_labels["labels"].str.contains("n"), 'normal', 'anomaly')
print(type(df_data.TSH[0]))

<class 'numpy.float64'>

In [176]:
### number of normal and abnormal
print("number of normal:", len(np.where(df_data["label"] == 'normal')[0]))
print("number of anomaly:", len(np.where(df_data["label"] == 'anomaly')[0]))

number of normal: 6603
number of anomaly: 250

In [177]:
## check in which location data is abnormal

np.where(df_data["label"] == 'normal')

(array([   0,    1,    2, ..., 6850, 6851, 6852]),)

In [178]:
### looks like working

print(df_data.iloc[740:750, -1])
print(df_labels.iloc[740:750, -1])
# df_data.head()

5474    normal
4216    normal
2610    normal
5516    normal
1915    normal
435     normal
1095    normal
4879    normal
728     normal
5289    normal
Name: label, dtype: object
5474    n
4216    n
2610    n
5516    n
1915    n
435     n
1095    n
4879    n
728     n
5289    n
Name: labels, dtype: object

In [179]:
### for each object column in data

cols_toOneHot = df_data.select_dtypes(include='object').columns.tolist()

cols_all = df_data.columns.tolist()
cols_toNormalize = list(set(cols_all) - set(cols_toOneHot))

In [180]:
print("columns to normalize:\n%s\n" % cols_toNormalize)
print("columns to one-hot:\n%s\n" % cols_toOneHot)

columns to normalize:
['e', 'k', 'm', 'c', 'a', 'n', 'd', 'l', 'FTI', 'o', 'T3', 'g', 'j', 'h', 'i', 'b', 'T4U', 'TSH', 'f', 'TT4', 'age']

columns to one-hot:
['label']

In [181]:
len(cols_toNormalize)

21

### Dataset preprocessing in numerical columns

In [182]:
print(df_data.TSH.dtype)

float64

In [183]:
def checkStats(df_data):
    i=0
    for col in df_data.columns.tolist():
            
        if col in cols_toOneHot:    ### skip if column is not numerical  ### TODO: check column type??
            i += 1
            continue

        min_ = df_data[col].values.min()
        max_ = df_data[col].values.max()
        std_ = df_data[col].values.std()

        print("column:%d min:%f max:%f std:%f" % (i, min_, max_, std_))
        i += 1

In [184]:
## before normalization
df_data = df_data
checkStats(df_data)

column:0 min:0.010000 max:0.970000 std:0.189447
column:1 min:0.000000 max:1.000000 std:0.461501
column:2 min:0.000000 max:1.000000 std:0.340448
column:3 min:0.000000 max:1.000000 std:0.123975
column:4 min:0.000000 max:1.000000 std:0.113844
column:5 min:0.000000 max:1.000000 std:0.192456
column:6 min:0.000000 max:1.000000 std:0.106077
column:7 min:0.000000 max:1.000000 std:0.118127
column:8 min:0.000000 max:1.000000 std:0.128450
column:9 min:0.000000 max:1.000000 std:0.242769
column:10 min:0.000000 max:1.000000 std:0.254232
column:11 min:0.000000 max:1.000000 std:0.113218
column:12 min:0.000000 max:1.000000 std:0.092386
column:13 min:0.000000 max:1.000000 std:0.157747
column:14 min:0.000000 max:1.000000 std:0.012079
column:15 min:0.000000 max:1.000000 std:0.217447
column:16 min:0.000010 max:0.500000 std:0.016379
column:17 min:0.000500 max:0.180000 std:0.007451
column:18 min:0.002500 max:0.600000 std:0.035017
column:19 min:0.017000 max:0.233000 std:0.019091
column:20 min:0.002400 max:0.642000 std:0.034971

In [185]:
### normalization

### min substr and max-min div

def normalise(df_data, cols_toNormalize):
    for col in cols_toNormalize:
        if len(col) == 1:
            print(col)
            continue
            
        min = df_data[col].min()
        max = df_data[col].max()

        if max - min == 0:
            continue

        df_data[col] = (df_data[col] - min) / (max - min)
    
    return df_data



"""
### mean substr and std dev div
for col in cols_toNormalize:
    mean = df_data[col].mean()
    std = df_data[col].std()
    
    if mean == 0 or std == 0:     ### columns 'num_outbound_cmds', 'is_host_login' has zero mean and std dev!!!
        continue
    
    df_data[col] = (df_data[col] - mean) / std
"""

"\n### mean substr and std dev div\nfor col in cols_toNormalize:\n    mean = df_data[col].mean()\n    std = df_data[col].std()\n    \n    if mean == 0 or std == 0:     ### columns 'num_outbound_cmds', 'is_host_login' has zero mean and std dev!!!\n        continue\n    \n    df_data[col] = (df_data[col] - mean) / std\n"

In [186]:
# ### Skipping normalisation for thyroid dataset. Added by Jyotirmay
df_data=normalise(df_data, cols_toNormalize)
checkStats(df_data)
print(df_data)

e
k
m
c
a
n
d
l
o
g
j
h
i
b
f
column:0 min:0.000000 max:1.000000 std:0.197341
column:1 min:0.000000 max:1.000000 std:0.461501
column:2 min:0.000000 max:1.000000 std:0.340448
column:3 min:0.000000 max:1.000000 std:0.123975
column:4 min:0.000000 max:1.000000 std:0.113844
column:5 min:0.000000 max:1.000000 std:0.192456
column:6 min:0.000000 max:1.000000 std:0.106077
column:7 min:0.000000 max:1.000000 std:0.118127
column:8 min:0.000000 max:1.000000 std:0.128450
column:9 min:0.000000 max:1.000000 std:0.242769
column:10 min:0.000000 max:1.000000 std:0.254232
column:11 min:0.000000 max:1.000000 std:0.113218
column:12 min:0.000000 max:1.000000 std:0.092386
column:13 min:0.000000 max:1.000000 std:0.157747
column:14 min:0.000000 max:1.000000 std:0.012079
column:15 min:0.000000 max:1.000000 std:0.217447
column:16 min:0.000000 max:1.000000 std:0.032758
column:17 min:0.000000 max:1.000000 std:0.041511
column:18 min:0.000000 max:1.000000 std:0.058607
column:19 min:0.000000 max:1.000000 std:0.088386
column:20 min:0.000000 max:1.000000 std:0.054676
           age    a    b    c    d    e    f    g    h    i   ...       l  \
4904  0.479167  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
1216  0.322917  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0   ...     0.0
3364  0.708333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3286  0.072917  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
1724  0.625000  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
721   0.322917  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0   ...     0.0
6397  0.656250  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
2424  0.375000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6512  0.531250  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0   ...     0.0
2069  0.739583  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
4010  0.572917  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
1103  0.583333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5663  0.718750  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6364  0.208333  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3216  0.427083  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2507  0.833333  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0   ...     0.0
2246  0.708333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
154   0.354167  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
1421  0.677083  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5965  0.343750  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2602  0.427083  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5321  0.562500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
4623  0.833333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
1106  0.125000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
3111  0.625000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
599   0.343750  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2572  0.593750  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6468  0.322917  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5310  0.854167  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3058  0.500000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   ...     0.0
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...     ...
3050  0.729167  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3942  0.166667  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3533  0.645833  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
3541  0.427083  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
2979  0.281250  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
5586  0.885417  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
410   0.614583  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0   ...     0.0
6668  0.343750  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2698  0.572917  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5346  0.739583  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
1053  0.750000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6172  0.239583  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6285  0.739583  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
6370  0.812500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3469  0.500000  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3908  0.260417  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
589   0.187500  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
129   0.833333  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2165  0.781250  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3298  0.520833  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     1.0
8     0.520833  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5311  0.854167  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
5781  0.406250  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   ...     0.0
689   0.510417  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0
723   0.635417  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
966   0.604167  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
2113  0.718750  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
3739  0.593750  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
416   0.572917  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   ...     0.0
634   0.260417  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0   ...     0.0

        m    n    o       TSH        T3       TT4       T4U       FTI    label
4904  0.0  0.0  0.0  0.002180  0.125348  0.184937  0.430556  0.157286   normal
1216  0.0  0.0  0.0  0.003380  0.091922  0.164854  0.291667  0.193246   normal
3364  0.0  0.0  0.0  0.000800  0.109192  0.191632  0.449074  0.157286   normal
3286  0.0  0.0  0.0  0.018560  0.130919  0.206695  0.365741  0.201063   normal
1724  0.0  0.0  0.0  0.000100  0.292479  0.347280  0.324074  0.373046   normal
721   0.0  0.0  0.0  0.001500  0.113092  0.133054  0.319444  0.144778   normal
6397  0.0  0.0  0.0  0.002380  0.111978  0.144770  0.361111  0.143215   normal
2424  0.0  0.0  0.0  0.000940  0.109192  0.062762  0.162037  0.116635   normal
6512  0.0  0.0  0.0  0.000060  0.103064  0.139749  0.277778  0.171357   normal
2069  0.0  0.0  0.0  0.002580  0.041783  0.176569  0.300926  0.202627   normal
4010  0.0  0.0  0.0  0.000780  0.125348  0.196653  0.398148  0.179174   normal
1103  0.0  0.0  1.0  0.000120  0.109192  0.233473  0.324074  0.251094   normal
5663  0.0  0.0  0.0  0.003980  0.136490  0.166527  0.347222  0.169794   normal
6364  0.0  0.0  0.0  0.002780  0.086351  0.154812  0.351852  0.155722   normal
3216  0.0  0.0  0.0  0.004620  0.109192  0.186611  0.337963  0.194809   normal
2507  0.0  0.0  0.0  0.002380  0.125348  0.144770  0.449074  0.118199   normal
2246  0.0  0.0  0.0  0.000200  0.109192  0.231799  0.337963  0.241714   normal
154   0.0  0.0  0.0  0.025981  0.164345  0.231799  0.509259  0.169794  anomaly
1421  0.0  0.0  0.0  0.004980  0.002786  0.057741  0.162037  0.107255   normal
5965  0.0  0.0  0.0  0.003380  0.103064  0.169874  0.444444  0.140088   normal
2602  0.0  0.0  0.0  0.007580  0.125348  0.208368  0.370370  0.201063   normal
5321  0.0  0.0  0.0  0.004140  0.119777  0.136402  0.314815  0.151032   normal
4623  0.0  0.0  0.0  0.003780  0.080780  0.114644  0.282407  0.138524   normal
1106  0.0  0.0  0.0  0.000240  0.109192  0.228452  0.333333  0.240150   normal
3111  0.0  0.0  0.0  0.004380  0.109192  0.153138  0.319444  0.166667   normal
599   0.0  0.0  0.0  0.011980  0.109192  0.148117  0.351852  0.149468   normal
2572  0.0  0.0  0.0  0.001020  0.109192  0.189958  0.375000  0.180738   normal
6468  0.0  0.0  0.0  0.000000  0.125348  0.241841  0.268519  0.305816   normal
5310  0.0  0.0  0.0  0.004980  0.080780  0.148117  0.296296  0.172921   normal
3058  0.0  0.0  0.0  0.000780  0.109192  0.243515  0.375000  0.232333   normal
...   ...  ...  ...       ...       ...       ...       ...       ...      ...
3050  0.0  0.0  0.0  0.001640  0.109192  0.169874  0.324074  0.183865   normal
3942  0.0  0.0  0.0  0.001780  0.075209  0.181590  0.393519  0.166667   normal
3533  0.0  0.0  0.0  0.000380  0.047354  0.179916  0.300926  0.205754   normal
3541  0.0  0.0  0.0  0.004580  0.058496  0.151464  0.259259  0.194809   normal
2979  0.0  0.0  0.0  0.002580  0.109192  0.121339  0.236111  0.168230   normal
5586  0.0  0.0  0.0  0.003980  0.111978  0.215063  0.388889  0.201063   normal
410   0.0  0.0  0.0  0.002380  0.086351  0.163180  0.319444  0.179174   normal
6668  0.0  0.0  0.0  0.001740  0.164345  0.111297  0.231481  0.155722   normal
2698  0.0  0.0  0.0  0.000040  0.147632  0.350628  0.453704  0.283927   normal
5346  0.0  0.0  0.0  0.004580  0.064067  0.124686  0.314815  0.138524   normal
1053  0.0  0.0  0.0  0.004580  0.086351  0.124686  0.402778  0.113508   normal
6172  0.0  0.0  0.0  0.003580  0.113092  0.148117  0.351852  0.149468   normal
6285  0.0  0.0  0.0  0.004580  0.041783  0.146444  0.291667  0.171357   normal
6370  0.0  0.0  0.0  0.001660  0.041783  0.153138  0.319444  0.166667   normal
3469  0.0  0.0  0.0  0.000180  0.069638  0.133054  0.384259  0.124453   normal
3908  0.0  0.0  0.0  0.004380  0.158774  0.138075  0.421296  0.119762   normal
589   0.0  0.0  0.0  0.002380  0.153203  0.183264  0.439815  0.151032   normal
129   0.0  0.0  0.0  0.077982  0.036212  0.161506  0.333333  0.169794  anomaly
2165  0.0  0.0  0.0  0.005380  0.097493  0.161506  0.291667  0.190119   normal
3298  0.0  0.0  0.0  0.005380  0.108635  0.188285  0.337963  0.196373   normal
8     0.0  0.0  0.0  0.261985  0.013928  0.009858  0.388889  0.009209  anomaly
5311  0.0  0.0  0.0  0.002780  0.111978  0.154812  0.319444  0.169794   normal
5781  0.0  0.0  0.0  0.006180  0.119777  0.168201  0.430556  0.141651   normal
689   0.0  0.0  0.0  0.000620  0.080780  0.226778  0.402778  0.201063   normal
723   0.0  0.0  0.0  0.003180  0.109192  0.191632  0.416667  0.166667   normal
966   0.0  0.0  0.0  0.005380  0.109192  0.243515  0.425926  0.208881   normal
2113  1.0  0.0  0.0  0.004780  0.086351  0.238494  0.370370  0.229206   normal
3739  0.0  0.0  0.0  0.000180  0.108635  0.164854  0.476852  0.127580   normal
416   0.0  0.0  0.0  0.004380  0.069638  0.158159  0.314815  0.176048   normal
634   0.0  0.0  0.0  0.004620  0.109192  0.185423  0.365741  0.180363   normal

[6853 rows x 22 columns]

### One hot encoding of required columns

In [187]:
### obtain one hot encoding

df_data = pd.get_dummies(df_data, columns=cols_toOneHot)

- Check the resulting dataset

In [188]:
df_data.head()

,age,a,b,c,d,e,f,g,h,i,...,m,n,o,TSH,T3,TT4,T4U,FTI,label_anomaly,label_normal
4904,0.479167,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00218,0.125348,0.184937,0.430556,0.157286,0,1
1216,0.322917,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00338,0.091922,0.164854,0.291667,0.193246,0,1
3364,0.708333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00080,0.109192,0.191632,0.449074,0.157286,0,1
3286,0.072917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.01856,0.130919,0.206695,0.365741,0.201063,0,1
1724,0.625000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00010,0.292479,0.347280,0.324074,0.373046,0,1

In [189]:
### shape is correct

df_data.shape

(6853, 23)

In [190]:
df_data.describe()

,age,a,b,c,d,e,f,g,h,i,...,m,n,o,TSH,T3,TT4,T4U,FTI,label_anomaly,label_normal
count,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,...,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000,6853.000000
mean,0.531639,0.307603,0.133810,0.015614,0.013133,0.038523,0.011382,0.014154,0.016781,0.062892,...,0.025536,0.000146,0.049759,0.006882,0.109418,0.181021,0.373549,0.175391,0.036480,0.963520
std,0.197355,0.461535,0.340473,0.123984,0.113852,0.192470,0.106085,0.118136,0.128459,0.242787,...,0.157759,0.012080,0.217463,0.032760,0.041514,0.058611,0.088393,0.054680,0.187496,0.187496
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.001380,0.091922,0.146444,0.324074,0.146341,0.000000,1.000000
50%,0.552083,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.003180,0.109192,0.174895,0.365741,0.171357,0.000000,1.000000
75%,0.687500,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.004780,0.119777,0.206695,0.402778,0.194809,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [191]:
### check again

checkStats(df_data)

column:0 min:0.000000 max:1.000000 std:0.197341
column:1 min:0.000000 max:1.000000 std:0.461501
column:2 min:0.000000 max:1.000000 std:0.340448
column:3 min:0.000000 max:1.000000 std:0.123975
column:4 min:0.000000 max:1.000000 std:0.113844
column:5 min:0.000000 max:1.000000 std:0.192456
column:6 min:0.000000 max:1.000000 std:0.106077
column:7 min:0.000000 max:1.000000 std:0.118127
column:8 min:0.000000 max:1.000000 std:0.128450
column:9 min:0.000000 max:1.000000 std:0.242769
column:10 min:0.000000 max:1.000000 std:0.254232
column:11 min:0.000000 max:1.000000 std:0.113218
column:12 min:0.000000 max:1.000000 std:0.092386
column:13 min:0.000000 max:1.000000 std:0.157747
column:14 min:0.000000 max:1.000000 std:0.012079
column:15 min:0.000000 max:1.000000 std:0.217447
column:16 min:0.000000 max:1.000000 std:0.032758
column:17 min:0.000000 max:1.000000 std:0.041511
column:18 min:0.000000 max:1.000000 std:0.058607
column:19 min:0.000000 max:1.000000 std:0.088386
column:20 min:0.000000 max:1.000000 std:0.054676
column:21 min:0.000000 max:1.000000 std:0.187482
column:22 min:0.000000 max:1.000000 std:0.187482

In [192]:
## check integrity of the data again

print(df_data.isnull().values.any())

print(df_data.isna().values.any())

False
False

In [193]:
### check again
print(df_data.iloc[740:750, -1])

print(df_data.iloc[740:750, -2])

print(df_labels.iloc[740:750, -1])

5474    1
4216    1
2610    1
5516    1
1915    1
435     1
1095    1
4879    1
728     1
5289    1
Name: label_normal, dtype: uint8
5474    0
4216    0
2610    0
5516    0
1915    0
435     0
1095    0
4879    0
728     0
5289    0
Name: label_anomaly, dtype: uint8
5474    n
4216    n
2610    n
5516    n
1915    n
435     n
1095    n
4879    n
728     n
5289    n
Name: labels, dtype: object

### Save dataset

In [194]:
dataset = df_data.values

In [195]:
dataset.shape

(6853, 23)

In [196]:
np.savez_compressed("thyroid.npz", dataset=dataset)

### Produce train and test splits

In [197]:
random_state = None

In [198]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(dataset, test_size=0.5, random_state=random_state)

In [199]:
x_train.shape

(3426, 23)

In [200]:
x_test.shape

(3427, 23)

-  Normal class is anomaly (attack) in this case, because non-attack rows are minority

In [201]:
x_train_normal = x_train[np.where(x_train[:,-1] == 1)]   ##last column is the normal column
x_train_anomaly = x_train[np.where(x_train[:,-1] == 0)]

In [202]:
x_train_normal.shape

(3306, 23)

In [203]:
x_train_anomaly.shape

(120, 23)

In [204]:
x_train = x_train_normal

- x_train consist of "normal" values

In [205]:
x_train.shape

(3306, 23)

In [206]:
x_test.shape

(3427, 23)

- Assign arbitrary output as labels

In [207]:
y_train = np.zeros((len(x_train),2))
y_train[:,0] = 1
y_train.shape

(3306, 2)

In [208]:
train_name = "thyroid_train-randomState_"+str(random_state)+".npz"
test_name = "thyroid_test-randomState_"+str(random_state)+".npz"

np.savez_compressed(train_name, x_train=x_train, y_train=y_train)
np.savez_compressed(test_name, x_test=x_test)